@import url("main-style.css");


.kontakt{
    text-align: center;
    height: 100vh;
    padding-top: 2em;
}

.kontakt-box{
    margin: 15% auto 15%;

}

.kontaktImg{
    width: 5vh; 
    margin: 1em;
}

.kontakt h2, h3{
    margin: 0.5em 0 0;
    padding: 0;
}

.kontakt h3{
    color: #a85b2b 
}