@media (min-width: 800px){
    .dropdown {
        display: none;
    }
    .desktop-nav, .navigation{
        display: flex;
    }
    .desktop-nav {
        height: 100px;
        justify-content: space-between;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 5;
    }
    .nav-img img {
        height: 100%;
        margin-left: 20px;
        transition: transform .2s;
    }
    .nav-img img:hover {
        transform: scale(1.3);
    }
    .navigation > div > a{
        color: #FF6C10;
        font-size: 1.2rem;
        margin: 0 10px;
        padding: 10px;
        text-decoration: none;
    }
    .navigation > div > a:hover {
        border-bottom: 2px solid white;
        text-shadow: 1px 1px #A85B2B;
        transition: 0.2s ease-in-out;
    }
    .navigation {
        margin-top: 30px;
    }
}
@media (min-width: 1200px){
    .navigation > div > a{
        margin: 0 30px;
        padding: 10px;
    }
}