.hem {
    text-align: center;
    height: 100vh;
}
.hem img {
    width: 30%;
    margin: 0 auto;
    display: block;
    padding-top: 150px;
}
h1 {
    color: white;
    font-size: 10vw;
}
h3 {
    font-weight: 300;
    color: white;
    font-size: 5vw;
}
h2{
    font-size: 7vw;
}
.border-bottom {
    background-color: #A85B2B;
    width: 50%;
    height: 2px;
    margin: 0 auto;
    margin-top: 30px;
}
#coffee-cup, .bild-1 {
    width: 100%;
}
