html {
    font-family: 'Quicksand', sans-serif;
}
body {
    /* background-color: #2B2B2A; */
    margin: 0;
}
h1, h2 {
    color: #FF6C10;
    font-weight: 400;
}


h3{
    color: #A85B2B;
}

  


h2{
    font-size: 7vw;
}

.line{
    width:22%;
    border-bottom:1px solid #FF6C10;
    margin: 40px auto 0;
    }


