html {
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: #2B2B2A;
    margin: 0;
}
h1, h2 {
    color: #FF6C10;
    font-weight: 400;
}
h2 {
    font-size: 7vw;
}
h3 {
    color: #A85B2B;
}
.no-scroll {
    overflow: hidden;
}
.line {
    width:22%;
    border-bottom:1px solid #FF6C10;
    margin: 40px auto 0;
}