@media only screen and (min-width: 800px){
    .om-oss h2 {
        margin: 0;
        font-size: 3em;
    }
    .om-oss h4 {
        font-size: 2.0em;
        padding-right: 0px;
    }
    .om-oss p {
        font-size: 0.3em;
    }
    .om-oss .symboler img {
        width: 35px;
        transition: transform .2s;
    }
    .om-oss .symboler img:hover {
        opacity: 0.5;
        transform: scale(1.3);
    }
    .om-oss img { /* Profilbilder */
        width: 25%;
    }
    .namn1 .center { /* Killarnas bilder*/
        margin-left: 8%;
        margin-bottom: -24%;
    }
    .namn2 .center { /* Tjejernas bilder*/
        margin-right: 8%;
        margin-bottom: -24%;
    }
    .namn1 h4, .namn1 p { /* Killarnas text till bild*/
        margin-left: 50%;
    }
    .namn2 p { /* Tjejernas text till bild*/
        margin-bottom: 5%;
        margin-right: 50%;
    }
    .namn1, .namn2 {
        width: 80%;
        margin: 20px auto;
    }
}