@media (min-width: 800px) {
    .tjanster {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 100vh;
        padding-top: 0;
    }
    .tjanster h2 {
        font-size: 3em;
        grid-column-start: 1;
        grid-column-end: 4;
        padding: 0;
        margin-top: 100px;
    }
    .tjanster h3 {
        font-size: 2vw;
        margin: 0;
        padding: 20px;
    }  
    .tjanster-img {
        width: 150px;
    }
    .tjanster-box {
        margin: 0 auto;
        width: 80%;
    }
    .line {
        display: none;
    }
    .tjanster p {
        color: white;
    }
}