@media (min-width: 800px){
  .projekt {
    background-image: url(../images/student.jpg);
    height: 115vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(25, 25, 25, 0.8) !important; 
    background-blend-mode: soft-light; /* Makes the image darker */
  }
  .projekt h2{
    margin: 0;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 3em;
  }
  .placering-img-projekt{
    display: flex;
    flex-direction: row;
  }
  .placering-img-projekt img{
    margin-bottom: 20%;
    margin-top: -10%;
  }
  .webben{  /*Bild på webben*/
    width:88%;
    margin-left: -6%;
    height: 95%;
    transition: .8s ease;
    border: solid black 1px;
  }
  .mobil{  /*Bild på mobil*/
    margin-left: -10%;
    transition: .8s ease;
    border: solid black 1px;
  }
  .wrapper:hover .mobil{
    opacity: 0;
  }
  .hide-webb{
    display: none;
  }
  .hide-mobile{
    display: block;
  }
  .overlay-content{
    font-size: 5vw;
    text-align: center;
  }
  .overlay-content a{
    font-size: 0.5em ;
  }
  .overlay-skeleton{
    left: 45%;
    right: -20%;
    bottom: -150%;
  }
  .overlay-meta{
    bottom: -150%;
  }
  .wrapper:hover img{
    opacity: 0.3;
  }
  .wrapper:hover .overlay{
    opacity: 1;
  }
  .overlay p{
    font-size: 1.5vW ;
    text-align: center; 
  }
}